.slider {
  display: inline-flex;
  align-items: center;
  align-self: flex-start;
  padding-top: 2px;
  width: 410px;
}
.slider-style {
  overflow: hidden;
  width: 100%;
}

@media (max-width: 760px) {
  .slider {
    width: 360px;
    line-height: 1.5;
  }
}
@media (max-width: 360px) {
  .slider {
    width: 330px;
    line-height: 1.5;
  }
}
