.h3 {
  color: #242424;
  font-weight: 600;
  letter-spacing: 0.25px;
  line-height: 19.2px;
  margin: 0px 0px 16px;
  text-align: left;
}
.ul {
  list-style: none;
  flex-direction: column;
}

.ul li {
  height: 1.875rem;
  margin-bottom: 0.7rem;
  font-weight: 400;
}
